<div class="nav bg-secondary p-3">
  <div class="container">
    <ul class="list-unstyled">
      <li class="list-inline-item">
        <a class="text-white text-decoration-none p-4" [routerLink]="['']">Home</a>
      </li>
      <li class="list-inline-item">
        <a class="text-white text-decoration-none p-4" [routerLink]="['/favourite']">Favourite</a>
      </li>
      <li class="list-inline-item">
        <a class="text-white text-decoration-none p-4" [routerLink]="['/user']">User</a>
      </li>
      <li class="list-inline-item">
        <a class="text-white text-decoration-none p-4" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</div>
<style>
  li {
    font-size: 20px;
  }
</style>